/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.selected {
  border: 1px solid gray;
  border-radius: 20px;
  background: #ac3b61 !important;
  cursor: pointer;
  color: white !important;
 }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.counter__result-item-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(0,0,0,0);
  padding: 5px;
}

.counter__result-item-child:hover {
  border: 1px solid black;
  border-radius: 20px;
  background: rgba(226, 40, 103, 0.5);
  opacity: 0.8;
  cursor: pointer;
 }


.TaggedContentCard_warapper::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(172, 59, 97, 0.15);
  border-radius: 5px;
  height: 5px;
}
.ReactModal__Content--after-open::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(172, 59, 97, 0.15);
  border-radius: 5px;
  height: 5px;
}
.TaggedContentCard_warapper::-webkit-scrollbar-thumb {
  background: rgb(172, 59, 97);
  border-radius: 5px;
}
.ReactModal__Content--after-open::-webkit-scrollbar-thumb {
  background: rgb(172, 59, 97);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(172, 59, 97);
  border-radius: 5px;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(172, 59, 97, 0.15);
  border-radius: 5px;
  height: 5px;
}
/* .ReactModal__Content ReactModal__Content--after-open */
