/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.selected {
  border: 1px solid gray;
  border-radius: 20px;
  background: #fd7d36 !important;
  cursor: pointer;
  color: black !important;
 }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.counter__result-item-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(0,0,0,0);
  padding: 5px;
}

.counter__result-item-child:hover {
  border: 1px solid black;
  border-radius: 20px;
  background: beige;
  opacity: 0.8;
  cursor: pointer;
 }
